body {
  overflow-x: hidden;
}
#wrapAll {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  /* height: 100vh; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  font-family: Arial;
}
#insideWrapAll {
  /* max-height: 100%; */
  margin-top: 50px;
}
#inside2WrapAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#mainNoBlock {
  width: 90%;
  max-width: 1000px;
  margin: 10px 0px;
  border: 1px solid #999;
  border-radius: 15px;
  display: none;
  opacity: 0;
  transition: all ease 0.2s;
}
#textNoBlock {
  margin: 20px;
  font-size: 14px;
  color: #666;
}
#mainBlock {
  margin: 20px;
  width: 90%;
  max-width: 1000px;
  display: none;
  opacity: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  transition: all ease 0.2s;
}
#leftMenu {
  border: 1px solid #999;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
#rightContent {
  flex: 1;
}
.linkMenu {
  font-size: 14px;
  color: #999;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: all ease 0.2s;
}
.linkMenu:hover {
  background-color: #99999922;
}
.linkMenu:first-child {
  border-radius: 15px 15px 0px 0px;
}
.linkMenu:last-child {
  border-radius: 0px 0px 15px 15px;
}
.linkMenu[active='1'] {
  color: #fff;
  background-color: #ce0000;
  border-radius: 15px;
  padding: 25px 30px;
  margin: -5px -10px;
  z-index: 10;
}
.blockContent {
  margin-left: 40px;
  border: 1px solid #999;
  border-radius: 15px;
  display: none;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  transform: scale(0);
  transition: all ease 0.2s;
}
.blockContent[active='1'] {
  transform: scale(1);
}
#nogameText {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #999;
  text-align: center;
  padding: 20px 0px;
  transition: all ease 0.2s;
}
#nogameText[active='0'] {
  transform: scale(0);
  margin: 0px;
  padding: 0px;
}
#stringCreateGame, #stringInviteUser, #stringControlStudio {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#blockInputCreateGame, #blockInputInviteUser, #blockInputEditDescription, .blockInputChangeNameFolder, #blockInputEditNameGame {
  margin: 10px 20px;
  margin-top: 2px;
  display: none;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  transition: all ease 0.2s;
}
#blockInputEditNameGame {
  min-width: 200px;
}
.blockInputChangeNameFolder {
  margin: 0px 10px;
  margin-top: -6px;
}
#blockInputCreateGame[active='0'], #blockInputInviteUser[active='0'], #blockInputEditDescription[active='0'], .blockInputChangeNameFolder[active='0'], #blockInputEditNameGame[active='0'] {
  transform: scale(0);
  width: 0px;
  margin: 0px;
}
#titleInputCreateGame, #titleInputInviteUser, #titleInputEditDescription, .titleInputChangeNameFolder, #titleInputEditNameGame {
  margin-left: 10px;
  padding: 0px 5px;
  font-size: 12px;
  color: #999;
  z-index: 10;
  position: relative;
  background-color: #fff;
  align-self: flex-start;
  transition: color ease 0.2s;
}
.titleInputChangeNameFolder {
  border-radius: 5px;
}
#blockInputCreateGame[focuse='0'] #titleInputCreateGame, #blockInputInviteUser[focuse='0'] #titleInputInviteUser, #blockInputEditDescription[focuse='0'] #titleInputEditDescription, .blockInputChangeNameFolder[focuse='0'] .titleInputChangeNameFolder, #blockInputEditNameGame[docuse='0'] #titleInputEditNameGame {
  color: #999;
}
#blockInputCreateGame[focuse='1'] #titleInputCreateGame, #blockInputInviteUser[focuse='1'] #titleInputInviteUser, #blockInputEditDescription[focuse='1'] #titleInputEditDescription, .blockInputChangeNameFolder[focuse='1'] .titleInputChangeNameFolder, #blockInputEditNameGame[docuse='1'] #titleInputEditNameGame {
  color: #333;
}
#inputInputCreateGame, #inputInputInviteUser, #inputInputEditDescription, .inputInputChangeNameFolder, #inputInputEditNameGame {
  font-size: 14px;
  color: #333;
  padding: 10px;
  outline: none;
  border: 1px solid #999;
  border-radius: 5px;
  margin-top: -5px;
  z-index: 0;
  position: relative;
  transition: border ease 0.2s;
}
.inputInputChangeNameFolder {
  font-size: 12px;
  padding: 5px 10px;
  border: none;
}
#blockInputCreateGame[focuse='0'] #inputInputCreateGame, #blockInputInviteUser[focuse='0'] #inputInputInviteUser, #blockInputEditDescription[focuse='0'] #inputInputEditDescription, .blockInputChangeNameFolder[focuse='0'] .inputInputChangeNameFolder, #blockInputEditNameGame[focuse='0'] #inputInputEditNameGame {
  border: 1px solid #999;
}
#blockInputCreateGame[focuse='1'] #inputInputCreateGame, #blockInputInviteUser[focuse='1'] #inputInputInviteUser, #blockInputEditDescription[focuse='1'] #inputInputEditDescription, .blockInputChangeNameFolder[focuse='1'] .inputInputChangeNameFolder, #blockInputEditNameGame[focuse='1'] #inputInputEditNameGame  {
  border: 1px solid #333;
}
#buttonCreateGame, #buttonCancelCreateGame, #buttonInviteUser, #buttonCancelInviteUser, #buttonDeleteStudio, .buttonChangeNameFolder {
  margin: 20px;
  padding: 10px;
  font-size: 14px;
  color: #fff;
  background-color: #ce0000;
  border-radius: 5px;
  z-index: 10;
  cursor: pointer;
  transition: all ease 0.2s;
}
.buttonChangeNameFolder {
  display: none;
  transform: scale(0);
  margin: 0px 10px;
  padding: 5px 10px;
  margin-top: 3px;
}
#buttonCreateGame[disabled='1'], #buttonInviteUser[disabled='1'], .buttonChangeNameFolder[disabled='1'] {
  background-color: #999;
  cursor: default;
}
#buttonCancelCreateGame, #buttonCancelInviteUser {
  transform: scale(1);
  display: none;
}
#buttonCancelCreateGame[active='0'], #buttonCancelInviteUser[active='0'] {
  transform: scale(0);
  margin: 20px 0px;
  width: 0px;
}
#infoChoosenFolder {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #999;
}
#fullWayChoosenFolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
  font-size: 14px;
  color: #999;
  transition: all ease 0.2s;
}
#hostWayChoosenFolder {
  margin: 0px;
  color: #999;
}
#pathWayChoosenFolder {
  margin: 0px;
  color: #333;
}
#listFolders {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  transition: all ease 0.2s;
}
.wrapFolder {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.oneFolder {
  height: 34px;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition: all ease 0.2s;
  border-top: 3px solid #ffffff00;
  border-bottom: 3px solid #ffffff00;
}
.oneFolder:hover {
  background-color: #99999922;
}
.oneFolder[focus='1'] {
  background-color: #99999999;
  border-top: 3px solid #ffffff00;
  border-bottom: 3px solid #ffffff00;
}
.oneFolder[focus='2'] {
  background-color: unset;
  border-top: 3px solid #99999999;
  border-bottom: 3px solid #ffffff00;
}
.oneFolder[focus='3'] {
  background-color: unset;
  border-top: 3px solid #ffffff00;
  border-bottom: 3px solid #99999999;
}
.imgFolder {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.oneFolder[typefolder='game'] .imgFolder {
  background-image: url('/resource/img/game.png');
}
.oneFolder[typefolder='folder'] .imgFolder {
  background-image: url('/resource/img/folder.png');
}
.oneFolder[typefolder='img'] .imgFolder {
  background-image: url('/resource/img/img.png');
}
.oneFolder[typefolder='txt'] .imgFolder {
  background-image: url('/resource/img/txt.png');
}
.oneFolder[typefolder='iframe'] .imgFolder {
  background-image: url('/resource/img/link.png');
}
.oneFolder[typefolder='none'] .imgFolder {
  background-image: url('/resource/img/file.png');
}
.titleFolder {
  margin-left: 10px;
  font-size: 14px;
  color: #666;
  transition: all ease 0.2s;
}
.netFolders {
  width: 20px;
  height: 20px;
}
.netFolders1, .netFolders2 {
  position: absolute;
  background: #666;
  z-index: -1;
}
.netFolders1 {
  width: 1px;
  height: 40px;
  margin-left: 10px;
  margin-top: -30px;
}
.netFolders2 {
  width: 20px;
  height: 1px;
  margin-top: 10px;
  margin-left: 10px;
}
#wrapTableStaff {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
#tableStaff {
  margin: 20px;
  font-size: 14px;
  color: #666;
}
#tableStaff td {
  text-align: center;
}
.wrapTdTableStaff {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.editUser {
  text-align: center;
  font-size: 14px;
  color: #999;
  cursor: pointer;
  transition: all ease 0.2s;
  vertical-align: middle;
}
.editUser:hover {
  color: #666;
}
.linkUser, .linkUserStroke {
  margin: 10px;
  color: #005fc3;
  text-decoration: none;
  transition: all ease 0.2s;
}
.linkUser:hover, .linkUserStroke:hover {
  color: #5aaaff;
}
.linkUserStroke {
  margin: 0px;
}
.key {
  width: 30px;
  height: 30px;
  background-image: url('/resource/img/key2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#titleStudio {
  margin: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #999;
}
#descrptionStudio {
  margin: 20px;
  margin-top: 0px;
  font-size: 14px;
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#topStudio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #999;
}
#rightTopStudio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.blockStatsStudio {
  width: 120px;
  height: 120px;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid #999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.titleStatsStudio {
  margin: 0px 10px;
  margin-top: -45px;
  margin-bottom: 25px;
  padding: 0px 10px;
  font-size: 12px;
  color: #999;
  background-color: #fff;
}
.valueStatsStudio {
  color: #999;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  white-space: nowrap;
}
#strokesInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.strokeInfoStudio {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.titleStrokeInfoStudio {
  font-size: 12px;
  color: #999;
}
.valueStrokeInfoStudio {
  font-size: 18px;
  font-weight: bold;
  color: #999;
}
#backConfirmDeleteStudio, #backConfirmDeleteGame, #backBigSizeUpload, #backConfirmOverwriteUpload, #backLoading, #backConfirmTurnOnIframe, #backConfirmTurnOffIframe, #backConfirmTurnOnIframe2, #backConfirmCreateGameIframe, #backSettingsGame, #backSubmitIndexed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #00000077;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial;
  opacity: 0;
  z-index: 100;
  transition: all ease 0.2s;
}
#blockConfirmDeleteStudio, #blockConfirmDeleteGame, #blockBigSizeUpload, #blockConfirmOverwriteUpload, #blockLoading, #blockConfirmTurnOnIframe, #blockConfirmTurnOffIframe, #blockConfirmTurnOnIframe2, #blockConfirmCreateGameIframe, #blockSettingsGame, #blockSubmitIndexed {
  width: 70%;
  max-width: 300px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-40px);
  justify-content: center;
  transition: all ease 0.2s;
}
#blockConfirmCreateGameIframe {
  max-width: 400px;
}
#blockSettingsGame {
  max-width: 500px;
}
#labelConfirmDeleteStudio, #labelConfirmDeleteGame, #labelBigSizeUpload, #labelConfirmOverwriteUpload, #labelConfirmTurnOnIframe, #labelConfirmTurnOffIframe, #labelConfirmTurnOnIframe2, #labelConfirmCreateGameIframe, #labelSettingsGame, #labelSubmitIndexed {
  margin: 20px;
  color: #666;
  font-size: 14px;
  text-align: center;
}
#inputConfirmDeleteStudio, #inputConfirmTurnOnIframe, #inputConfirmTurnOnIframe2 {
  margin: 20px;
  margin-top: 0px;
  padding: 10px;
  font-size: 14px;
  color: #333;
  border: 1px solid #999;
  outline: none;
  border-radius: 5px;
}
#buttonConfirmDeleteStudio, #buttonConfirmDeleteGame, #buttonCancelOverwriteUpload, #buttonAgreeOverwriteUpload, #buttonConfirmTurnOnIframe, #buttonConfirmTurnOffIframe, #buttonConfirmTurnOnIframe2, #buttonCancelCreateGameIframe, #buttonAgreeCreateGameIframe, #buttonCancelSubmitIndexed, #buttonAgreeSubmitIndexed {
  margin-top: 0px;
  margin-right: -30px;
  margin-bottom: -16px;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #ce0000;
  color: #fff;
  align-self: flex-end;
  transform: translateY(80px);
  transition: all ease 0.2s;
}
#buttonCancelOverwriteUpload, #buttonAgreeOverwriteUpload, #buttonCancelCreateGameIframe, #buttonAgreeCreateGameIframe, #buttonCancelSubmitIndexed, #buttonAgreeSubmitIndexed {
  transform: translateY(0px);
  margin-bottom: 0px;
  align-self: auto;
}
#buttonCancelOverwriteUpload, #buttonCancelCreateGameIframe, #buttonCancelSubmitIndexed {
  margin-right: 10px;
}
#buttonAgreeOverwriteUpload, #buttonAgreeCreateGameIframe, #buttonAgreeSubmitIndexed {
  margin-right: -30px;
}
#strokeConfirmOverwriteUpload, #strokeConfirmCreateGameIframe, #strokeSubmitIndexed {
  width: 100%;
  margin-bottom: -16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  transform: translateY(80px);
  transition: all ease 0.2s;
}
#wrapLinkHome, #bottomStringStudio {
  width: 90%;
  max-width: 1000px;
  margin: 0px 10px;
  font-family: Arial;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
  transition: opacity ease 0.2s;
}
#bottomStringStudio {
  justify-content: flex-end;
}
#linkHome, #linkFeedback, #linkToFoldersDocs, .linksHorMenu {
  margin-left: 10px;
  color: #005fc3;
  font-size: 14px;
  text-decoration: none;
  transition: all ease 0.2s;
}
#linkFeedback {
  margin-right: 10px;
}
#linkHome:hover, #linkFeedback:hover, #linkToFoldersDocs:hover, .linksHorMenu:hover {
  color: #5aaaff;
}
.linksHorMenu {
  margin-left: 20px;
}
#linkToFoldersDocs {
  margin: 20px;
  margin-left: auto;
  font-size: 12px;
  font-style: italic;
}
#linkHolderUser {
  opacity: 0;
  transition: all ease 0.2s;
}
#editDescriptionStudio {
  display: none;
  position: absolute;
  align-self: flex-end;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px 5px;
  cursor: pointer;
  vertical-align: middle;
  transition: all ease 0.2s;
}
#editDescriptionStudio[condition='edit'] {
  background-image: url('/resource/img/pen.png');
}
#editDescriptionStudio[condition='send'] {
  background-image: url('/resource/img/checkok1.png');
}
#strokeDescriptionStudio {
  margin: 0px;
  margin-right: 20px;
  transform: scale(1);
  transition: all ease 0.2s;
}
#leftTopStudio {
  flex: 1;
}
#inputInputEditDescription {
  resize: none;
  font-size: 14px;
  color: #333;
  font-family: Arial;
}
#inputInputEditDescription::-webkit-scrollbar {
  width: 2px;
}
#inputInputEditDescription::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#inputInputEditDescription::-webkit-scrollbar-thumb {
  background: #888;
}
#inputInputEditDescription::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#gamesFolders {
  display: none;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
#listGames {
  display: none;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}
.oneGame {
  margin: 20px;
  border-radius: 15px;
  border: 1px solid #999;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition: all ease 0.2s;
}
.oneGame:hover {
  background-color: #99999922;
}
.imgGame {
  margin: 20px;
  width: 100px;
  height: 100px;
  background-color: #000;
}
.rightGame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.titleGame {
  margin: 20px;
  margin-bottom: 5px;
  color: #999;
  font-size: 18px;
  font-weight: bold;
}
.authorGame {
  margin: 20px;
  margin-top: 5px;
  color: #666;
  font-size: 14px;
}
.wrapFolder {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all ease 0.2s;
}
#errorTextCreateGame {
  display: none;
  color: #f77171;
  font-size: 14px;
}
#panelControl {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#deleteFolderButton, #renameFolderButton, #addFolderButton, #switchIframeFolderButton, #chageLinkIframeFolderButton, #settingsButton {
  display: none;
  transform: scale(0);
  margin: 0px 5px;
  padding: 10px;
  color: #fff;
  background-color: #ce0000;
  border-radius: 5px;
  z-index: 10;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all ease 0.2s;
}
#titleDeleteFolderButton, #titleRenameFolderButton, #titleAddFolderButton, #titleSwitchIframeFolderButton, #titleChageLinkIframeFolderButton, #titleSettingsButton {
  margin: 2px;
  font-size: 14px;
}
#subtitleDeleteFolderButton {
  font-size: 10px;
}
#imgRenameFolder, #imgDeleteFolder, #imgAddFolder, #imgSettings {
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
#imgRenameFolder {
  background-image: url('/resource/img/nKey.png');
}
#imgDeleteFolder {
  background-image: url('/resource/img/delKey.png');
}
#imgAddFolder {
  background-image: url('/resource/img/aKey.png');
}
#imgSettings {
  background-image: url('/resource/img/sKey.png');
}
#labelNearMouse {
  background-color: #ce0000;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  font-family: Arial;
  position: absolute;
  display: none;
  transform: scale(0);
  transition: transform ease 0.2s;
  z-index: 50;
}
#dragFolder {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
  font-family: Arial;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  opacity: 0.5;
}
#whiteCoverDragFolder {
  display: none;
  position: absolute;
  background-color: #fff;
  left: 0px;
  top: 0px;
  z-index: 99;
}
#dragFile {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 50;
}
#coverListFoldersOutDrag {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #fff;
  background-color: #00000077;
  font-family: Arial;
  text-align: center;
  transform: scale(0);
  transition: transform ease 0.2s;
  z-index: 49;
}
#loader {
  margin: 20px;
}
#errorConfirmTurnOnIframe, #errorConfirmTurnOnIframe2, #errorConfirmDeleteStudio {
  font-size: 12px;
  margin-bottom: 15px;
  color: #ff7373;
  width: 0%;
  overflow: hidden;
  text-align: center;
  transition: all ease 0.2s;
  white-space: nowrap;
}
#errorConfirmDeleteStudio {
  margin: 0px 20px;
  margin-bottom: 15px;
  display: none;
  width: auto;
  white-space: break-spaces;
}
.stringSettingsGame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  margin: 20px;
}
.leftStringSettingsGame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.rightStringSettingsGame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
#nameGameSettingsGame, #iframeSettingsGame, #tagsSettingsGame, #photoSettingsGame, #indexedSettingsGame {
  color: #999;
  font-size: 12px;
  transition: all ease 0.2s;
}
#errorNameGameSettingsGame {
  font-size: 12px;
  color: #f77171;
  transform: scale(0);
  transition: all ease 0.2s;
}
#buttonChangeNameGameSettingsGame, #buttonCancelNameGameSettingsGame, #buttonChangeTagsSettingsGame, #buttonCancelTagsSettingsGame, #buttonChangePhotoSettingsGame, #buttonRemovePhotoSettingsGame {
  color: #fff;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ce0000;
  cursor: pointer;
  transition: all ease 0.2s;
}
#buttonCancelNameGameSettingsGame, #buttonCancelTagsSettingsGame, #buttonRemovePhotoSettingsGame {
  margin-right: 10px;
  transform: scale(0);
}
#buttonChangeNameGameSettingsGame[disabled = '1'], #buttonChangeTagsSettingsGame[disabled = '1'] {
  background-color: #999999;
}
#titleNameGameSettingsGame, #titleIframeSettingsGame, #titleTagsSettingsGame, #titlePhotoSettingsGame, #titleIndexedSettingsGame {
  color: #333;
  font-size: 18px;
  transition: all ease 0.2s;
}
#buttonSwitchIframeSettingsGame, #buttonSwitchIndexedSettingsGame {
  cursor: pointer;
  background-color: #999;
  border-radius: 50px;
  width: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition: all ease 0.2s;
}
.circleSwitch {
  margin: 5px;
  margin-left: 5px;
  width: 15px;
  height: 15px;
  background-color: #eee;
  border-radius: 50px;
  transition: all ease 0.2s;
}
#buttonSwitchIframeSettingsGame[active="1"], #buttonSwitchIndexedSettingsGame[active="1"] {
  justify-content: flex-start;
  background-color: #fb6666;
}
#buttonSwitchIframeSettingsGame[active="1"] .circleSwitch, #buttonSwitchIndexedSettingsGame[active="1"] .circleSwitch {
  background-color: #ce0000;
  margin-left: 30px;
}
#blockEditTags {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  transform: scale(0);
  transition: all ease 0.2s;
}
.oneBlockEditTag, #addBlockEditTag {
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #999;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#addBlockEditTag {
  background-color: #ce0000;
  cursor: pointer;
}
.titleOneBlockEditTag, .titleAddBlockEditTag {
  margin: 0px 7px;
  font-size: 11px;
  color: #fff;
}
.closeOneBlockEditTag, .arrowAddBlockEditTag {
  width: 25px;
  height: 25px;
  margin: 0px;
  margin-left: 0px;
  cursor: pointer;
}
.line1CloseOneBlockEditTag, .line2CloseOneBlockEditTag {
  width: 1px;
  height: 15px;
  position: absolute;
  margin-left: 11px;
  margin-top: 5px;
  background-color: #fff;
}
.line1CloseOneBlockEditTag {
  transform: rotate(45deg);
}
.line2CloseOneBlockEditTag {
  transform: rotate(-45deg);
}
.line1AddOneBlockEditTag, .line2AddOneBlockEditTag {
  margin-left: 12px;
  margin-top: 7px;
  width: 1px;
  height: 11px;
  position: absolute;
  background-color: #fff;
}
.line2AddOneBlockEditTag {
  transform: rotate(90deg);
}
#selectAddEditTag {
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 5px;
  background-color: #eee;
  transform: scale(0);
  transition: all ease 0.2s;
  z-index: 100;
  font-family: Arial;
  max-height: 150px;
  overflow-y: auto;
}
#selectAddEditTag::-webkit-scrollbar {
  width: 2px;
}
#selectAddEditTag::-webkit-scrollbar-track {
  background: #eee;
}
#selectAddEditTag::-webkit-scrollbar-thumb {
  background: #999;
}
#selectAddEditTag::-webkit-scrollbar-thumb:hover {
  background: #999;
}
.stringSelectAddEditTag {
  margin: 0px 5px;
  font-size: 12px;
  padding: 10px;
  color: #333;
  border-radius: 15px;
  background-color: #cccccc00;
  cursor: pointer;
  transition: all ease 0.2s;
}
.stringSelectAddEditTag:hover {
  background-color: #cccccc;
}
#inputFilePhotoSettingsGame {
  display: none;
}
#imgPrevieSettings {
  width: 200px;
  height: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}
