.wrapLinksTop, .wrapLinksBottom {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  font-family: Arial;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
  transition: opacity ease 0.2s;
}
.wrapLinksBottom {
  justify-content: flex-end;
}
.linksHorMenu {
  margin-left: 10px;
  font-size: 16px;
  color: #005fc3;
  text-decoration: none;
  transition: all ease 0.2s;
}
.linksHorMenu:hover {
  color: #5aaaff;
}
.contentPage {
  width: 90%;
  max-width: 1000px;
  margin: 0px auto;
  border: 1px solid #999;
  border-radius: 15px;
  font-family: Arial;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  opacity: 0;
  transition: opacity ease 0.2s;
}
.topStroke {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.rightTopStroke {
  margin: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.titlePage {
  font-size: 18px;
  font-weight: bold;
  color: #666;
  margin: 20px;
}
#IDupdateStroke, #IDauthorStroke, #IDauthorStroke a {
  margin: 0px;
  padding: 2px 0px;
  font-size: 14px;
  font-weight: 100;
  color: #999;
}
#IDauthorStroke {
  margin-bottom: 5px;
  margin-right: 20px;
}
#IDauthorStroke a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: #005fc3;
  transition: color ease 0.2s;
}
#IDauthorStroke a:hover {
  color: #5aaaff;
}
.bodyContent {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.bodyContent h2 {
  margin: 5px 0px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #999;
}
.bodyContent p {
  margin: 5px 0px;
  font-size: 14px;
  color: #666;
}
.bodyContent a {
  font-size: 14px;
  color: #005fc3;
  text-decoration: none;
  transition: all ease 0.2s;
}
.bodyContent a:hover {
  color: #5aaaff;
}
.bodyContent img {
  align-self: center;
  max-width: 100%;
}
.codeBlock {
  max-height: 500px;
  overflow: auto;
  border: 1px solid #999;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.langCode {
  margin: 5px;
  padding: 5px 10px;
  font-size: 12px;
  background-color: #999;
  border-radius: 15px;
  color: #fff;
  align-self: flex-start;
}
.bodyCode {
  margin: 10px 5px;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}
.codeBlock::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 5px;
}
.codeBlock::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 5px;
}
.codeBlock::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 5px;
}
.codeBlock::-webkit-scrollbar-thumb:hover {
  background: #666;
  border-radius: 5px;
}
.preCode {
  white-space: break-spaces;
  word-break: break-all;
}
.imageGame {
  margin-bottom: 20px;
}
.descriptionGame {
  text-align: center;
  align-self: center;
}
.buttonArticle {
  margin: 20px;
  padding: 10px;
  font-size: 14px;
  color: #fff;
  background-color: #ce0000;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.2s;
}
#textLinkGame, #announceRelDate {
  font-size: 10px;
  color: #ce0000;
  text-align: center;
  align-self: center;
  margin: 5px 0px;
  text-decoration: none;
}
#announceRelDate {
  margin: 20px 0px;
  font-size: 14px;
}
.blockResolved {
    padding: 10px;
    margin: 20px 0px;
    margin-top: 0px;
    background: #ce0000;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
}
.blockResolved[resolved='yes'] {
  background-color: #999;
  color: #333;
}
#enterTitleArticle {
  margin: 0px auto;
  margin-top: 60px;
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  font-family: Arial;
  display: flex;
  transition: all ease 0.2s;
}
#blockEnterContent, #blockShowContent {
  margin: 10px 2%;
  width: 46%;
  border-radius: 15px;
}
#blockEnterContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
#blockShowContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border: 1px solid #999;
}
.stringButtonsContent {
  margin: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.buttonContent {
  height: 30px;
  margin: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #666;
  color: #666;
  cursor: pointer;
  opacity: 0.6;
  transition: all ease 0.2s;
}
.buttonContent:hover {
  opacity: 1;
}
.imgButtonContent {
  margin: 0px 5px;
  margin-right: 0px;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.textButtonContent {
  margin: 0px 10px;
  font-size: 14px;
  font-family: monospace;
}
.blockTextNoContent {
  margin: 40px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.textNoContent {
  font-size: 14px;
  color: #999;
}
.blockTextareaContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
#textareaContent {
  min-height: 104px;
  max-height: 800px;
  outline: none;
  border: 1px solid #999;
  border-radius: 15px;
  padding: 10px;
  resize: none;
  font-size: 14px;
  color: #333;
}
#textareaContent::-webkit-scrollbar {
  width: 8px;
}
#textareaContent::-webkit-scrollbar-track {
  background: unset;
}
#textareaContent::-webkit-scrollbar-thumb {
  background: #999;
}
#textareaContent::-webkit-scrollbar-thumb:hover {
  background: #777;
}
#countWords {
  margin-top: -7px;
  font-size: 10px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #f74e4e;
  align-self: flex-end;
  z-index: 10;
}
#countWords[valid='1'] {
  background-color: #0eaf00;
}
#sendComment {
  margin: 10px;
  align-self: flex-end;
  background-color: #ce0000;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}
#sendComment[active='0'] {
  background-color: #999;
}
#recaptcha1 {
  margin-top: 15px;
  align-self: flex-end;
}
#listCommentsSection {
  max-width: 800px;
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  font-family: Arial;
}
#blockNoComments {
  font-size: 14px;
  color: #999;
  text-align: center;
  margin: 20px;
  padding: 40px 0px;
  border: 1px solid #999;
  border-radius: 15px;
}
.wrapComment {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.blockComment {
  margin: 0px 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  border: 1px solid #999;
  border-radius: 15px;
}
.authorComment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.linkAuthor, .textAuthor {
  margin: 20px;
  font-size: 14px;
  color: #005fc3;
  text-decoration: none;
  transition: all ease 0.2s;
}
.textAuthor {
  color: #999;
}
.linkAuthor:hover {
  color: #5aaaff
}
.dateUpdateComment {
  margin: 20px;
  color: #999;
  font-size: 14px;
}
.contentComment {
  margin: 0px;
  color: #333;
  font-size: 14px;
}
.bottomComments {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.buttonLikeComment {
  margin: 0px 20px;
  margin-right: 0px;
  width: 20px;
  height: 20px;
  opacity: 0.7;
  cursor: pointer;
  background-image: url("/resource/img/like.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all ease 0.2s;
}
.buttonLikeComment:hover {
  opacity: 1;
}
.buttonLikeComment[value='1'] {
  background-image: url("/resource/img/likeOk.png");
}
.countLikesComment {
  margin: 0px 20px;
  margin-left: 5px;
  font-size: 14px;
  color: #999;
}
.buttonReplyComment {
  margin: 10px 20px;
  margin-left: 0px;
  font-size: 14px;
  color: #999;
  padding: 10px;
  border: 1px solid #99999900;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.2s;
}
.buttonReplyComment:hover {
  border: 1px solid #999999;
}
.blockReply {
  margin: 0px 40px;
  margin-bottom: 20px;
  border: 1px solid #999999;
  border-top: none;
  border-radius: 0px 0px 15px 15px;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
  transform: scale(0);
  transition: all ease 0.2s;
}
#blockAddReplay {
  margin: 0px 10px;
  display: none;
  transform: scale(0);
  transition: all ease 0.2s;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
#recaptcha2 {
  margin: 10px;
}
.inputReplay {
  outline: none;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  color: #333;
  flex: 1;
  border: 1px solid #999;
  border-radius: 5px;
}
.sendReplayButton {
  margin: 10px;
  padding: 10px;
  background-color: #ce0000;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  transition: all ease 0.2s;
}
.sendReplayButton[active='0'] {
  background-color: #999;
}
.blockOneReply {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.topOneReply {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.textAuthorOneReply, .linkAuthorOneReply {
  margin: 0px 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #005fc3;
  text-decoration: none;
  transition: all ease 0.2s;
}
.linkAuthorOneReply:hover {
  color: #5aaaff;
}
.updateOneReply {
  margin: 0px 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #999;
  font-size: 14px;
}
.bottomOneReply {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.contentOneReply .previewBlock {
  margin: 5px 20px;
}
.addNextReply {
  margin: 10px;
  color: #005fc3;
  align-self: center;
  padding: 10px;
  font-style: italic;
  font-size: 12px;
  cursor: pointer;
  transition: all ease 0.2s;
}
.addNextReply:hover {
  color: #5aaaff;
}
@media screen and (max-width: 700px) {
  #enterTitleArticle {
    flex-direction: column;
  }
  #blockEnterContent, #blockShowContent {
    width: 96%;
  }
}
