#wrapLinkHome {
  width: 90%;
  max-width: 1000px;
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: Arial;
}
 #accessdenied, #userBlock {
  margin: 0px auto;
  width: 90%;
  max-width: 1000px;
  border: 1px solid #999;
  border-radius: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  font-family: Arial;
  background-color: #fff;
  display: none;
}
#textAccessdenied {
  margin: 20px;
  font-size: 14px;
  color: #999;
}
#textAccessdenied a, #linkHome, .linksHorMenu {
  color: #005fc3;
  text-decoration: none;
  transition: all ease 0.2s;
}
#textAccessdenied a:hover, #linkHome:hover, .linksHorMenu:hover {
  color: #5aaaff;
}
#linkHome {
  margin-left: 10px;
}
.linksHorMenu {
  margin-left: 20px;
}
#contacts, #devices, #control {
  display: none;
}
#contacts, #devices, #info {
  width: 100%;
  border-bottom: 1px solid #999;
}
#studio, #control {
  width: 100%;
}
#titleContacts, #titleDevices, #titleControl, #titleInfo, #titleStudio {
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #999;
}
.blockContact, .blockDevice {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.imgBlockContact, .imgBlockDevice {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.imgCheckMark {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  margin-right: -5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.rightBlockContact, .rightBlockDevice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.valueBlockContact, .valueBlockDevice {
  margin: 5px 20px;
  font-size: 18px;
  color: #333;
}
.descriptionBlockContact, .descriptionBlockDevice {
  margin: 5px 20px;
  font-size: 14px;
  color: #333;
}
.confirmedTextBlockContact {
  color: #1aca00;
}
.blockContact[typecontact='mail'] .imgBlockContact {
  background-image: url('/resource/img/mail.png');
}
.imgCheckMark {
  background-image: url('/resource/img/checkMark.png');
}
.imgBlockDevice[type='desktop'] {
  background-image: url('/resource/img/desktop.png');
}
.imgBlockDevice[type='phone'] {
  background-image: url('/resource/img/phone.png');
}
.deleteDevice {
  margin: 20px;
  margin-left: auto;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
  background-color: #ce0000;
  background-image: url('/resource/img/trash.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all ease 0.2s;
}
/* .deleteDevice:hover {
  opacity: 1;
} */
#buttonsControl {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#deleteAccount, #signoutAccount {
  margin: 0px 20px;
  padding: 10px 15px;
  background-color: #ce0000;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  opacity: 1;
  transition: all ease 0.2s;
}
/* #deleteAccount:hover, #signoutAccount:hover {
  opacity: 1;
} */
#backConfirmDelete, #backConfirmSignout {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #00000077;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial;
  opacity: 0;
  z-index: 100;
  transition: all ease 0.2s;
}
#blockConfirmDelete, #blockConfirmSignout {
  width: 70%;
  max-width: 300px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-40px);
  justify-content: center;
  transition: all ease 0.2s;
}
#labelConfirmDelete, #labelConfirmSignout {
  margin: 20px;
  color: #666;
  font-size: 14px;
  text-align: center;
}
#inputConfirmDelete {
  margin: 20px;
  margin-top: 0px;
  padding: 10px;
  font-size: 14px;
  color: #333;
  border: 1px solid #999;
  outline: none;
  border-radius: 5px;
}
#buttonConfirmDelete, #noConfirmSignout, #yesConfirmSignout {
  margin-top: 0px;
  margin-right: -30px;
  margin-bottom: -16px;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #ce0000;
  color: #fff;
  align-self: flex-end;
  transform: translateY(80px);
  transition: all ease 0.2s;
}
#noConfirmSignout, #yesConfirmSignout {
  transform: translateY(0px);
  margin-bottom: 0px;
  align-self: auto;
}
#noConfirmSignout {
  margin-right: 10px;
}
#yesConfirmSignout {
  margin-right: -30px;
}
#strokeButtonsConfirmSignout {
  width: 100%;
  margin-bottom: -16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  transform: translateY(80px);
  transition: all ease 0.2s;
}
#errorConfirmDelete {
  margin: 0px 20px;
  margin-bottom: 15px;
  font-size: 12px;
  color: #ff7373;
  overflow: hidden;
  text-align: center;
  display: none;
  width: auto;
  white-space: break-spaces;
  transition: all ease 0.2s;
}
.strokeInfo {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nameStrokeInfo {
  font-size: 12px;
  color: #999;
}
.valueStrokeInfo {
  color: #333;
  font-size: 18px;
}
#icoEditName {
  width: 20px;
  height: 20px;
  margin: 0px 10px;
  cursor: pointer;
  background-image: url('/resource/img/pen.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: scale(1);
  transition: all ease 0.2s;
}
#icoEditName[active='0'] {
  transform: scale(0);
}
#IDvalueStrokeInfoName {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#blockInputEditName {
  flex: 1;
  max-width: 400px;
  margin: 10px 10px;
  margin-top: 2px;
  margin-left: 0px;
  display: none;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  transition: all ease 0.2s;
}
#blockInputEditName[active='0'] {
  transform: scale(0);
  width: 0px;
  margin: 0px;
}
#titleInputEditName {
  margin-left: 10px;
  padding: 0px 5px;
  font-size: 12px;
  color: #999;
  z-index: 10;
  position: relative;
  background-color: #fff;
  align-self: flex-start;
  transition: color ease 0.2s;
}
#inputInputEditName {
  font-size: 14px;
  color: #333;
  padding: 10px;
  outline: none;
  border: 1px solid #999;
  border-radius: 5px;
  margin-top: -5px;
  z-index: 0;
  position: relative;
  transition: border ease 0.2s;
}
#blockInputEditName[focuse='0'] #titleInputEditName {
  color: #999;
}
#blockInputEditName[focuse='1'] #titleInputEditName {
  color: #333;
}
#blockInputEditName[focuse='0'] #inputInputEditName {
  border: 1px solid #999;
}
#blockInputEditName[focuse='1'] #inputInputEditName {
  border: 1px solid #333;
}
#saveButtonEditName, #cancelButtonEditName {
  margin: 10px 20px;
  margin-right: 10px;
  padding: 10px 15px;
  background-color: #ce0000;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  transform: scale(1);
  transition: all ease 0.2s;
  display: none;
}
#saveButtonEditName[active='0'], #cancelButtonEditName[active='0'] {
  transform: scale(0);
}
#textNameStrokeInfo {
  transition: all ease 0.2s;
}
#textNameStrokeInfo[active='0'] {
  transform: scale(0);
  max-width: 0px;
}
#textNameStrokeInfo[active='1'] {
  transform: scale(1);
  max-width: 100%;
}
#studioStroke {
  font-size: 18px;
  color: #333;
  margin: 20px;
}
#studioStroke a {
  color: #005fc3;
  text-decoration: none;
  transition: all ease 0.2s;
}
#studioStroke a:hover {
  color: #5aaaff;
}

@media screen and (max-width: 800px) {
  .blockContact, .blockDevice {
    flex-direction: column;
    align-items: center;
  }
  .rightBlockDevice{
    align-items: center;
  }
  .deleteDevice {
    margin: 10px;
  }
}
