body {
  background-color: #3e82ce;
  background-image: url("/img/sky.png");
  padding: 0px;
  margin: 0px;
}
.wrapLink {
    margin: 40px 0px;
}
.linkHome {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-size: 20px;
    opacity: 0.8;
    background: #ffffff77;
    padding: 10px 20px;
    border-radius: 5px;
}
.linkHome:hover {
  opacity: 1;
}
.wrapContent {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
.headContent {
  margin: 100px 0px;
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.wrapCannon {
  margin-top: -50px;
}
.imgCannon1, .imgCannon2, .imgWall {
  margin: 0px 20px;
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.imgCannon1 {
  margin-top: -200px;
}
.imgCannon2 {
  transform: translateX(20px) translateY(25px) rotate(-45deg);
}
.imgCannon1 {
  transform: translateY(25px) rotate(0deg);
}
.raitingBlock {
  margin: 80px 20px;
  font-family: Arial;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.bodyContent {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin: 50px 0px;
}
.navBodyContent {
  width: 100px;
}
.oneNavBC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  border-left: solid 5px #333;
  cursor: pointer;
}
.oneNavBC:hover {
  background-color: #eee;
}
.oneNavBC[active="1"] {
  background-color: #ccc;
}
.icoOneNavBC {
  width: 50px;
  height: 50px;
  margin: 10px;
  background-size: contain;
}
.titleOneNavBC {
  font-family: Arial;
  font-size: 14px;
  margin: 0px 5px 10px 5px;
  color: #333;
}
.rightBodyContent {
  flex: 1;
}
.wrapRight {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.wrapRight[active="0"] {
  display: none;
}
.inventar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.oneItem {
  width: 94px;
  height: 94px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #eee;
  border: solid 3px #ccc;
}
.oneItem[choose="1"] {
  background-color: #ccc;
  border: solid 3px #999;
}
.oneItem[ttype="cannon1"] {
  background-position: 10px 10px;
}
.oneItem[ttype="cannon2"] {
  background-position: -15px 20px;
}
.oneItem[ttype="wall"] {
  background-size: 80%;
}
.equipButton {
  margin-top: 40px;
  background-color: #333;
  align-self: flex-start;
  padding: 10px 20px;
  font-size: 14px;
  font-family: Arial;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
.equipButton[ddisabled="1"] {
  cursor: default;
  opacity: 0.2;
}
.listStats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.oneStat {
  width: 40%;
  margin: 40px 5%;
}
.titleStat {
  font-family: Arial;
  color: #666;
  font-size: 12px;
}
.valStat {
  font-family: Arial;
  color: #ce0000;
  font-size: 30px;
  font-weight: bold;
}
